/* Small Screen */
.container {
  margin: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__image {
  max-width: 100%;
  height: auto;
  border-radius: 25px;
}
.form__left {
  margin-bottom: 1rem;
}

.form__right {
  margin-bottom: 1rem;
}

.form__text {
  color: #4361ee;
  font-size: 50px;
}
.form__label {
  font-size: 20px;
}

.form__input {
  border: 1;
  border-color: #4361ee;
  border-radius: 10px;
  width: 65%;
  height: 30px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.form__url {
  border: 1;
  border-color: #4361ee;
  border-radius: 10px;
  width: 40%;
  height: 30px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.form__select {
  border: 1;
  border-color: #4361ee;
  border-radius: 10px;
  width: 25%;
  height: 30px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.alert{
 color: brown;
}

.form__button {
  padding: 0.3rem 1rem;
  border: none;
  border-radius: 10px;
  background-color: #4361ee;
  color: #fff;
  margin-top: 1rem;
  margin-bottom: 70px;
  width: 67%;
  height: 35px;
  font-size: 20px;
}
/* medium screen */
@media (min-width: 768px) {
  .container {
    margin: 3rem auto;
  }
  .form {
    margin: 0 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .form__left {
    flex-basis: 60%;
  }

  .form__right {
    flex-basis: 50%;
  }
}

/* Large Screen */
@media (min-width: 992px) {
  .container {
    max-width: 1200px;
    margin: 3rem auto;
  }

  .form {
    margin: 0 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .form__left {
    flex-basis: 60%;
  }

  .form__right {
    flex-basis: 40%;
  }
}









